clear_screen==0.1.14
contexttimer==0.3.3
gTTS==2.5.4
mutagen==1.47.0
natsort==7.1.1
nltk==3.9.1
pygame==2.6.1
PyQt5==5.15.11
PyQt5_sip==12.16.0
python_Levenshtein==0.26.1
python_Levenshtein==0.26.1
scipy==1.14.1
termcolor==2.5.0
torch==2.5.1
transformers==4.45.2
